<script src="/js/quagga.min.js"></script>
<script src="/js/addBook_tail.js"></script>


<div class="main-container">
  <h1>Add Books</h1>

    <fieldset>
      <input type="text" name="isbn" placeholder="ISBN" id="isbnInput" />
      <button id="scanButton" class="scan-barcode"><img class="img-button" src="/assets/camera.svg" /></button><br />
      <input type="submit" class="button-light button-small" id="submitButton" value="Search" />
    </fieldset>

  <div id="scan_barcode_lightbox" class="lightbox">
    <div class="lightbox-content">
      <button id="closeLightboxButton" class="close-lightbox-button"><img class="img-button" src="/assets/close.svg" /></button>
      <h3>Scan a barcode</h3>
      <div id="interactive" class="viewport scanner-feed"></div>
    </div>
  </div>

  <div id="add_book_form"></div>

</div>
