<script src="/js/addBook_tail.js"></script>


<div class="main-container">
  <h1>Add Books</h1>

    <fieldset>
      <input type="text" name="isbn" placeholder="ISBN" id="isbnInput"><br/>
      <input  type="submit" class="button-light button-small" id="submitButton" value="Search">
    </fieldset>

  <div id="add_book_form"></div>

</div>
