<script src="/js/addBook_tail.js"></script>
<script src="/js/quagga.min.js"></script>


<div class="main-container">
  <h1>Add Books</h1>

    <fieldset>
      <input type="text" name="isbn" placeholder="ISBN" id="isbnInput" /><br />
      <button id="scanButton"><img src="/assets/camera.svg" /></button>
      <input type="submit" class="button-light button-small" id="submitButton" value="Search" />
    </fieldset>

  <div id="scan_barcode_lightbox" class="lightbox">
    <div class="lightbox_content">
      <button id="close_lightbox"><img src="/assets/close.svg" /></button>
      <h1>Scan a barcode</h1>
      <p>Use your device's camera to scan the barcode on the book you wish to enter.  The barcode is usually found on the back cover.  If your device has multiple cameras, and you wish to switch between them, you can use the <em><a>Switch Camera</a></em> button</p>
      <div id="interactive" class="viewport"></div>
      <button id="swap_camera">Switch Camera</button>
    </div>
  </div>

  <div id="add_book_form"></div>

</div>
