<div id="templateContent"></div>


<script type="text/javascript" charset="utf-8">
  window.addEventListener('load', function() {
    insertTemplateByPath('templateContent', 'book_list', '/api/mw/get-books');
  });
</script>
