<div id="templateContent"></div>


<script type="text/javascript" charset="utf-8">
  window.addEventListener('load', function() {
    insertTemplateByPath('templateContent', 'library', '/api/mw/get-current-user-books');
  });
</script>
