// Variables
$header-height: 50px;
$header-offset: 100px;

$lightbox-margin: 50px;

$highlight-color-1-alpha: rgba(16, 42, 63, 0.9);
$highlight-color-1: rgb(16, 42, 63);
$highlight-color-2: #0b1d29;
$highlight-color-3: #9AB8D4;
$highlight-color-4: #829BB2;
$video-tint: rgba(43,43,50, 0.3);
$video-tint-2: rgba(20, 20, 29, 0.9);
$main-color-1: #cfdfe7;
$main-color-2: #FFFFFF;
$secondary-font-color: #FFFFFF;
$alternate-color-1: #8f3530;
$lightbox-dim: rgba(0, 0, 0, 0.5);
$font-p-size: 20px;
// Mix-ins
@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

// RESETS
* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
body, html {
  padding: 0;
  margin: 0;
}
body{
  background-color: $main-color-2;
  font-weight: 200;
  font-size: $font-p-size;
  line-height: 1.5;
}
fieldset {
  border: none;
}
p {
  font-size: $font-p-size;
}
a {
  color: inherit;
}
input[type='submit'] {
  background-color: transparent;
  color: inherit;
}

// HEADER
.header {
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  background-color: $highlight-color-1-alpha;
  color: $secondary-font-color;
}
.header-left {
  display: inline-block;
  position: absolute;
  height: $header-height;
  line-height: $header-height;
  left: 30px;
  top: 0;
  font-weight: 400;
  font-size: larger;
  cursor: pointer;
}
.header-right {
  display: inline-block;
  position: absolute;
  text-align: right;
  height: $header-height;
  line-height: $header-height;
  right: 30px;
  top: 0;
  cursor: pointer;

  ul {
    visibility: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-bottom: none;
    transition-delay: .75s;
  }
  li {
    line-height: $font-p-size;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
    background-color: $highlight-color-1-alpha;
  }
  li:hover {
    background-color: $highlight-color-1;
  }
  li:active {
    background-color: $highlight-color-2;
  }
}
.header-right:hover > ul {
  visibility: visible;
    transition-delay: 0s;
}

// SPLASH
.splash {
  position: relative;
  height: 100vh;
  text-align: center;
}
.splash::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.splash-content {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
}

.landing-splash {
  text-shadow: 0 0 3px #000;
  color: $secondary-font-color;

  form {
    padding: 0;
  }
  fieldset {
    padding: 5px 0;
  }
}

.background-video-container {
  background: url('/assets/splash.jpg') 50% 50% / cover no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;

  .background-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .filter {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(circle, $video-tint, $video-tint-2);
  }
}


// SECTIONS
.section {
  min-height: 100px;
  padding: 100px;
  text-align: center;
  background-color: $main-color-2;

  .title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .icon {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
  .icon + h3 {
    font-weight: 400;
    font-size: 24px;
  }
  
  .text-block {
    display: inline-block;
    width: 45%;
  }
  .column {
    display: inline-block;
    width: 25%;
    margin: 0 3%;
  }

  .question {
    margin: 10px 0;
    font-weight: 300;
  }
  .answer {
    padding-left: 50px;
  }
}
.section:nth-of-type(2n+1) {
  background-color: $main-color-1;
}


// AVERAGE PAGES
.main-container {
  min-height: 100vh;
  min-height: calc(100vh - #{$header-offset});;
  padding-top: $header-offset;
  text-align: center;

  .button {
    margin: 20px 0;
  }

  table {
    margin: 0 auto;
    text-align: left;

    th {
      padding: 0 20px;
      font-weight: 400;
    }
    td {
      padding: 0 20px;
    }
    tr {
      border-bottom: 1px solid $highlight-color-4;
    }
    tr:nth-child(2n) {
      background-color: $main-color-1;
    }
  }
}

// FORMS

form {
  padding: 20px;
}
label, input {
  padding: 5px 15px;
  margin: 5px 0;
}
label {
  display: inline-block;
  width: 80px;
}
input {
  width: 150px;
}

.add-book {
  label {
    width: 150px;
    text-align: right;
  }
  input {
    width: 300px;
  }
}

.scan-barcode {
  img {
    width: 25px;
    height: 25px;
  }
}

// LIGHTBOXES
.lightbox {
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  background-color: $lightbox-dim;

  .lightbox-content {
    background-color: $main-color-2;
    position: absolute;
    top: $lightbox-margin;
    left: $lightbox-margin;
    right: $lightbox-margin;
    bottom: $lightbox-margin;
    overflow-y: scroll;
    padding: 50px;
  }

  .close-lightbox-button {
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

// BARCODE SCANNER
.scanner-feed {
  video {
    width: 100%;
    height: auto;
    float: left;
  }
  canvas.drawingBuffer {
    width: 100%;
    height: auto;
    float: left;
    margin-left: -100%;
  }
}

// FOOTER
.footer {
  min-height: 150px;
  padding: 50px 20% 20px 20%;
  background-color: $highlight-color-1;
  text-align: center;
  color: $secondary-font-color;
  font-size: 16px;

  .column {
    text-align: left;
    display: inline-block;
    width: 25%;
    margin: 0 3%;
  }
  .column:nth-of-type(n+2) {
    text-align: center;
  }
  .column:last-of-type {
    text-align: right;
  }

  a {
    text-decoration: none;
  }
}

// BUTTONS

.button {
  border: 1px solid white;
  @include border-radius(20px);

  display: inline-block;
  width: 100px;
  padding: 10px;
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-color: $highlight-color-1;
}
.button:active {
  background-color: $highlight-color-2;
}


.button-light {
  border: 1px solid black;
  @include border-radius(20px);
  background-color: $main-color-1;

  display: inline-block;
  width: 100px;
  padding: 10px;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}
.button-light:hover {
  background-color: $highlight-color-3;
}
.button-light:active {
  background-color: $highlight-color-4;
}

.button-small {
  font-size: $font-p-size;
  padding: 5px 15px;
}

// UTILITIES
.w400 {
  font-size: inherit;
  font-weight: 400;
}

hr {
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}
h2 {
  font-size: 32px;
  font-weight: 300;
}
h3 {
  font-weight: 300;
}

.error {
  color: $alternate-color-1;
}
.small-link {
  display: block;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}
.small-link:hover {
  text-decoration: underline;
}

.plain {
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.hidden {
  display: none;
}

@media (max-width: 640px) { // phone
  .section {

    .text-block {
      width: 90%;
      padding: 0;
    }

    .column {
      display: block;
      width: 90%;
      margin: 0 auto;
      padding: 25px 0;
    }
  }

  table {
    .author {
      display: none;
    }
  }

  #add_book_form {
    fieldset {
      text-align: left;

      label {
        text-align: left;
        padding: 0;
        margin: 0;
      }
    }
  }
  .footer {

    .column {
      display: none;
    }
    .column:first-of-type, .column:last-of-type {
      display: inline-block;
      width: 40%;
    }
  }
}

@media (max-width: 900px) { // tablet
  .main-container {
    table {
      .pub-year, .edition {
        display: none;
      }

      td {
        padding: 15px;
      }
    }
  }


  .background-video-container {
    .background-video {
      display: none;
    }
  }

  .section {
    padding: 80px 0;

    .text-block {
      width: 85%;
    }
  }

  .footer {
    padding: 50px 10px 20px 10px;
  }
}
